doctype html
html(lang="ko")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title 42truck
      link(rel="manifest", href="/manifest.json")
      link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
      block styles
    body
      block content
      block scripts
      script(type="text/javascript", src="js/main.js")