extends base.pug

block styles
  link(rel="stylesheet", href="css/home.css")

block content
  .container
    .row
      img(src="images/42truck_logo.png", alt="42truck")

      .col
        a(href="/order" class="fb btn")
          |  주문하기
        a(href="/confirm" class="twitter btn")
          i.fa.fa-twitter.fa-fw
          |  주문 확인하기

